body, ul, ol, li, p, h1, h2, h3, h4, h5{
    margin:0;
    padding:0;
}
body {
    background-color:#27ae60;;
}
ul {
   list-style: none;
}
nav {
    min-width:320px;
  height:48px;
  background-color: #1E8449;
}
/*
@media only screen and (max-width: 320px) {
   .navmenu li{
    display: none;
   }
}
*/
nav .navmenu > li {
    width:20%;
    height:48px;
    float:left;
    background-color: #1E8449;
    text-align: center;
    line-height: 48px;
    position:relative;
   }
nav .navmenu > li  i {
    padding-right:5px;
}
nav .navmenu > li a {
    text-decoration: none;
    color: #fff;
    display:block;
    transition: all .2s ease;
    
    }
nav .navmenu > li a:hover {
    background-color:#8B50A4;
    font-size: 20px;
    
}
nav .navmenu > li:hover .nav-sub{
    display:block;
    background-color:#9B59B6;
}
.nav-sub {
    display:none;
   
   
}
.main {
    margin:0 auto;
 margin-top:50px;
    width:80%;
    background-color: #fff;
}
.main h2 {
    
    padding:20px;
}
.main p {
    text-indent: 2em;
    padding: 12px;
}
.clearfix::after {
    display:block;
    content:'';
    clear:both;
}