body, ul, ol, li, p, h1, h2, h3, h4, h5{
    margin:0;
    padding:0;
}
body {
    background-color:#27ae60;;
}
ul {
   list-style: none;
}
nav {
    min-width:320px;
    
}

nav ul li {
    width:25%;
    height:40px;
    float:left;
    background-color: #1E8449;
    text-align: center;
    line-height: 40px;
   }
nav ul li i {
    padding-right:5px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    display:block;
    }
nav ul li a:hover {
    background-color:#9B59B6;
    display:block;
}
.nav-sub {
    display:none;
}
