body {
    background: #fff url("../images/bg.jpg") no-repeat center top;
}
body {
    height: 100&;
}


@media (min-width: 992px)
.col-md-2 {
        width: 20%;
}
@media (min-width: 992px)

.col-md-3 {
    width: 20%;
}
.container {
    width:1269px;
}
.col-md-2 {
    width:20%;
}